body{
	background-color: #EAF6F6; 
}

h3, h4{
	color: 	grey;
}

hr{
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;

}

/*img{
	background-color: red;
}*/

.spring{
	background-color: purple;
}

.springy{
	background-color: grey;
}